.jumbotron{
	opacity: 0.5;
	background-image: url('https://www.cabovillas.com/images/VillaResorts-Hero.jpg'); 
	background-color: #428af5;
	background-repeat: no-repeat;
	color:white;
	margin-top: 55px;
	border-radius: 0px;
	background-size: cover;
	background-position: center;
}



.btn {
	background-color: #b5b5b5;
}

.card-hotel{
	flex: 1 250px;
	
	margin-top: 30px;
}


.btn-re {
	width: 100%;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #accae6;
	margin-bottom: 0px;
	margin-top: 50px;
}
.padding-icon-footer {
	padding-right: 10px;
}

.card {
	margin-left: 10px;
}

.badge {
	border-radius: 0px;
}

.alert{
	margin-top: 10px;
}